* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  height: 92vh;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.column__tittle {
  padding: 10px;
  color: aqua;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.column__tittle:hover {
  background: #00000067;
  cursor: pointer;
  border-radius: 5px;
}

.column__button {
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.column__button:hover {
  background-color: #00000067;
  cursor: pointer;
  border-radius: 5px;
}
.text-animation {  
  background-color: rgb(29, 61, 248);  
}

.text__animation--content {
  height: 8vh;
  display: block;
  font-size: 65px;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(12, 212, 195);
  background-color: rgb(29, 61, 248);
  text-align: center;
}
